[submodule "submodules/doxygen-awesome-css"]
	path = submodules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "submodules/ECS"]
	path = submodules/ECS
	url = https://github.com/osvegn/ECS
[submodule "submodules/json-c"]
	path = submodules/json-c
	url = https://github.com/json-c/json-c.git
